<h2>ADICIONAR ARTIGOS</h2>
<form id="add-article" class="border rounded border-dark" #form="ngForm">
  <div class="row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control form-control-sm" id="edition" placeholder="EDIÇÃO" name="edition" [(ngModel)]="edition">
    </div>
    <div class="form-group col-md-6">
      <select class="custom-select form-control-sm" id="month" placeholder="MÊS" name="month" [(ngModel)]="month">
        <option *ngIf="month" [ngValue]="month" selected>{{month | uppercase}}</option>
        <option value="JANEIRO">JANEIRO</option>
        <option value="FEVEREIRO">FEVEREIRO</option>
        <option value="MARÇO">MARÇO</option>
        <option value="ABRIL">ABRIL</option>
        <option value="MAIO">MAIO</option>
        <option value="JUNHO">JUNHO</option>
        <option value="JULHO">JULHO</option>
        <option value="AGOSTO">AGOSTO</option>
        <option value="SETEMBRO">SETEMBRO</option>
        <option value="OUTUBRO">OUTUBRO</option>
        <option value="NOVEMBRO">NOVEMBRO</option>
        <option value="DEZEMBRO">DEZEMBRO</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control form-control-sm" id="edition" placeholder="TITULO" name="title" [(ngModel)]="title">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control form-control-sm" id="edition" placeholder="LINK DA NOTÍCIA" name="link" [(ngModel)]="link">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <input type="text" class="form-control form-control-sm" id="edition" placeholder="URL DA IMAGEM" name="image" [(ngModel)]="image">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <textarea class="form-control form-control-sm" id="description" placeholder="DESCRIÇÃO" name="description" [(ngModel)]="description"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="type" [(ngModel)]="type" id="noticia" value="noticia" checked>
        <label class="form-check-label" for="noticia">
          NOTÍCIA
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="type" [(ngModel)]="type" id="destaque" value="destaque">
        <label class="form-check-label" for="destaque">
          DESTAQUE
        </label>
      </div>
      <div class="form-check disabled">
        <input class="form-check-input form-control-sm" type="radio" name="type" [(ngModel)]="type" id="disclaimer" value="disclaimer">
        <label class="form-check-label" for="exampleRadios3">
          DISCLAIMER
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <button *ngIf="atualizar" type="submit" class="btn btn-success" (click)="upArticle(form.value,item)">ATUALIZAR {{item}}</button>
      <button *ngIf="!atualizar" type="submit" class="btn btn-success" (click)="addArticle(form.value)">ADICIONAR</button>
    </div>
  </div>
</form>